
body {
    background: #f4f7fc; /* Fundo neutro e suave */
    color: #333; /* Texto mais escuro para melhor legibilidade */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    background: #ffffff; /* Cor clara para contrastar com o fundo */
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra suave para profundidade */
    max-width: 600px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.hero:hover {
    transform: scale(1.05); /* Efeito suave de zoom no hover */
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #1a73e8; /* Cor vibrante para o título */
}

.hero p {
    font-size: 1.2rem;
    margin-top: 20px;
    font-weight: 300;
    color: #555; /* Cor mais suave para o texto */
}

.btn-primary {
    background-color: #1a73e8; /* Azul vibrante para o botão */
    border-color: #1a73e8;
    font-size: 1.1rem;
    padding: 15px 30px;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombras suaves para o botão */
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #0c58d6; /* Cor de destaque no hover */
    border-color: #0c58d6;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    color: #aaa; /* Cor mais suave para o texto do rodapé */
}

footer p {
    margin: 0;
}


/* # Este código é propriedade de Arnaldo Rocha Filho
   # Direitos Reservados © 2024
*/
