{% extends "base.html" %}

{% block title %}Cadastro Admin{% endblock %}

{% block content %}

<div class="auth-container">

<div class="auth-left">

<h1>Criar Admin</h1>

<form method="POST"
action="{{ url_for('cadastro_admin', convite=request.args.get('convite')) }}">

<input name="username"
       placeholder="Usuário"
       class="form-control"
       required>

<input name="password"
       type="password"
       placeholder="Senha"
       class="form-control"
       required>

<button class="auth-btn w-100">
Cadastrar Admin
</button>

</form>

</div>

<div class="auth-right"></div>

</div>

{% endblock %}