{% extends "base.html" %}

{% block title %}Editar Aviso{% endblock %}

{% block content %}
<div class="container py-5">

<form action="{{ url_for('editar_aviso', id=aviso.id) }}" method="POST">

<div class="mb-3">
<label class="form-label">Nome</label>
<input type="text" class="form-control" name="nome" value="{{ aviso.nome }}">
</div>

<div class="mb-3">
<label class="form-label">Valor</label>
<input type="number" class="form-control" name="valor" value="{{ aviso.valor }}">
</div>

<button class="btn btn-primary w-100">
Salvar Alterações
</button>

</form>

</div>
{% endblock %}