{% extends "base.html" %}

{% block title %}Login{% endblock %}


{% block head %}

<style>

body{
    background:#0b0f1a;
}


/* CONTAINER */

.login-container{
    display:flex;
    min-height:100vh;
}


/* LEFT */

.login-left{
    width:50%;
    background:#05070d;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:60px;
}


.login-left h1{
    font-size:48px;
    font-weight:700;
    margin-bottom:30px;
}


.login-left input{
    background:#0f1424;
    border:1px solid #2a2f45;
    border-radius:12px;
    padding:14px;
    color:white;
    margin-bottom:15px;
}


.login-left input:focus{
    outline:none;
    border-color:#7c3aed;
    box-shadow:0 0 0 2px #7c3aed33;
}


/* BUTTON */

.login-btn{

    margin-top:20px;
    border:none;
    border-radius:14px;
    padding:14px;
    font-weight:600;

    background:linear-gradient(
        90deg,
        #7c3aed,
        #ec4899,
        #f59e0b
    );

    color:white;
}


/* LINKS */

.links{
    margin-top:15px;
    font-size:14px;
}



/* RIGHT IMAGE */

.login-right{
    width:50%;
    position:relative;
    background:url("{{ url_for('static', filename='img/bg.jpg') }}");
    background-size:cover;
    background-position:center;
}


/* GRADIENT OVERLAY */

.login-right::before{

    content:"";

    position:absolute;
    inset:0;

    background:

    linear-gradient(
        to right,
        rgba(5,7,13,0.95),
        rgba(5,7,13,0.3)
    ),

    linear-gradient(
        to bottom,
        rgba(5,7,13,0.7),
        rgba(5,7,13,0.2)
    );

}


/* RESPONSIVO */

@media(max-width:900px){

.login-right{
    display:none;
}

.login-left{
    width:100%;
    padding:30px;
}

.login-left h1{
    font-size:32px;
}

}


</style>

{% endblock %}



{% block content %}

<div class="login-container">


<!-- LEFT -->

<div class="login-left">

<h1>Nexu.Fell - CONTROLE FINANCEIRO</h1>

<form method="POST" action="{{ url_for('login') }}">

<input name="username"
       placeholder="Usuário"
       class="form-control"
       required>


<input name="password"
       type="password"
       placeholder="Senha"
       class="form-control"
       required>


<button class="login-btn w-100">
Entrar
</button>

</form>


</div>



<!-- RIGHT -->

<div class="login-right"></div>


</div>

{% endblock %}